@using System.Collections.Generic
@using Smartflow.BussinessService.Models
<!DOCTYPE html>
<html>
<head>
    <title>Smartflow-Sharp工作流管理平台</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/common.js"></script>
    <script src="~/Content/main.js"></script>
    <script type="text/javascript">
        $(function () {

            var tableTemplate = $("#common_template_pending").html(),
                rowTemplate = $("#common_template_pending_row").html();

            $.Main({
                tableTemplate: tableTemplate,
                rowTemplate: rowTemplate,
                url: '@Url.Action("GetPendingList","Default")',
                audit: '@Url.Action("AuditFrame", "Audit")',
                selector: '#pendingTable tbody',
                id: '#pendingTable',
                iframeContent: '#ifrmContent'
            });
        });
    </script>
</head>
<body class="smartflow_main">
    <div class="smartflow_head">
        <span class="smartflow_title">Smartflow-Sharp 工作流管理平台</span>
    </div>
    <div class="smartflow_content">
        <div class="smartflow_left clearfix" id="menu">
            <div class="menu_item">
                <div class="menu_title">业务管理</div>
                <ul class="menu_sub_items hide">
                    <li class="menu_sub_item">
                        <span url="../Default/List">流程定义</span>
                    </li>
                    <li class="menu_sub_item">
                        <span url="../FileApply/FileApplyList">文件定密申请</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="smartflow_right">
            <iframe style="width:100%;height:100%;" id="ifrmContent" frameborder="0"></iframe>
        </div>
    </div>
    <script type="text/html" id="common_template_tab_content">
        <div class="smartflow_tab_content">
            <iframe style="width:100%;height:100%;" frameborder="0"></iframe>
        </div>
    </script>
    <script type="text/html" id="common_template_tab_head">
        <li class="smartflow_tab_item smartflow_tab_select"></li>
    </script>
    <script type="text/html" id="common_template_pending_row">
        <tr>
            <td url="{{url}}" instanceID="{{instanceID}}">
                你有新待的任务
            </td>
        </tr>
    </script>
    <script type="text/html" id="common_template_pending">
        <div class="layui-container" style="width:100%;padding:0 10px;">
            <table class="layui-table" id="pendingTable">
                <tbody></tbody>
            </table>
        </div>
    </script>
</body>
</html>
