@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Smartflow-Sharp工作流管理平台</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/main.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#off").click(function () {
                //具体逻辑就不写，仅为演示使用
                window.location.href = '@Url.Action("Login", "Default")';
            });
        });

        $(function () {
            //仅演示:轮询查询待办数量
            setInterval(function () {
                $.ajax({
                    url: '@Url.Action("GetPendingCount", "Default")',
                    type: 'post',
                    success: function (data) {
                        $("#items").text(data);
                    }
                });
            }, 1000 * 5);

            //iframe窗
            layer.open({
                type: 2,
                title: "待办",
                closeBtn: 1, //不显示关闭按钮
                shade: 0,
                //shadeClose: true,
                area: ['400px', '400px'],
                offset: 'rb', //右下角弹出
                //time: 2000, //2秒后自动关闭
                anim: 2,
                content: ['@Url.Action("Pending","Default")', 'no'] //iframe的url，no代表不显示滚动条
            });
        });
    </script>
</head>
<body class="smartflow_main">
    <div class="smartflow_head">
        <span class="smartflow_title">Smartflow-Sharp 工作流管理平台</span>
    </div>
    <div class="smartflow_content">
        <div class="smartflow_left clearfix" id="menu">
            <div class="menu_item">
                <div class="menu_title">业务管理</div>
                <ul class="menu_sub_items hide">
                    <li class="menu_sub_item">
                        <span url="../Default/List">流程定义</span>
                    </li>
                    <li class="menu_sub_item">
                        <span url="../FileApply/FileApplyList">文件定密申请</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="smartflow_right">
            <iframe style="width:100%;height:100%;" id="ifrmContent" frameborder="0"></iframe>
        </div>
    </div>
    <script type="text/html" id="common_template_tab_content">
        <div class="smartflow_tab_content">
            <iframe style="width:100%;height:100%;" frameborder="0"></iframe>
        </div>
    </script>
    <script type="text/html" id="common_template_tab_head">
        <li class="smartflow_tab_item smartflow_tab_select"></li>
    </script>
</body>
</html>
